@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;

}
body
{
    background: #0a2a43;
    min-height: 1500px;

}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before 
{
    content: '';
    position:absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;

}
section:after 
{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    pointer-events: none;
}
#road
{
    z-index: 2;
}
header
{
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li
{
    list-style-type: none;
    margin-left:20px;

}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color:#fff
    
}
header ul li a:hover
{
    background-color: #fff;
    color:#2b1055;
}
.title{
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color:#fff;
}
html{
    scroll-behavior: smooth;
}
#section1{
     
}
#section2{
    height:700px;
    background: #0a2a43;
    display: inline-block;
    width: 100%;
}
#section3{
    height:520px;
    background: #0a2a43;
    display: inline-block;
    width: 100%;
}
#section4{
    height:500px;
    background: #0a2a43;
    display: inline-block;
    width: 100%;
}
.sub_size
{
    text-align: center;
    text-decoration: none;
    color:#fff;
    

}
.text_size
{
    text-align: center;
    text-decoration: none;
    color:#fff;
}

.parallax{
    height: 400px;
    background: url(image2.jpg) no-repeat fixed 100%;
    background-size: cover;
}
.parralax-inner{
    padding-top: 30%;
    padding-bottom: 30%;
}
.parallax1{
    height: 400px;
    background: url(image1.jpg) no-repeat fixed 100%;
    background-size: cover;
}
.parralax-inner1{
    padding-top: 30%;
    padding-bottom: 30%;
}
.contacts{
    text-align: center;
    text-decoration: none;
    color:#fff;
}
header h2
{
    font-size: 2em;
    font-weight:500;
    color: #fff;
    letter-spacing: 5px;
    cursor: pointer;
    padding-left: 10px;
}
header h2 span
{
    transition: 0.5s;
}
header h2:hover span
{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}
#text
{
    position: relative;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff;
    font-size: 10em;
    z-index:1;
    font-weight:500;
    letter-spacing: 5px;
    cursor: pointer;
}
